.backgroundHeader {
  align-items: left;
  background: url(../images/background/Background.png);
  background-position: 20%;
  background-size: cover;
  display: flex;
  flex-direction: column;
  height: 800px;
}

.maintitle {
  align-content: center;
  align-items: left;
  color: #fff;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  font-family: 'Montserrat';
  font-size: 74px;
  font-style: italic;
  font-weight: 800;
  height: auto;
  justify-content: center;
  line-height: 80px;
  margin-left: 69px;
  margin-top: 407px;
  text-align: left;
  text-transform: uppercase;
  width: 504px;
}

.subtitleheader {
  font-family: 'Montserrat';
  font-size: 26px;
  font-style: normal;
  font-weight: 500;
  margin-left: 169px;
  margin-top: 1px;
}

@media screen and ( min-width : 300px ) and ( max-width : 420px ) {

  .backgroundHeader {
    background-position: 50%;
    background-size: cover;
    filter: drop-shadow(0 4px 4px rgba(0, 0, 0, 0.25));
    height: 600px;
    width: 100%;
  }

  .maintitle {
    font-family: 'Montserrat';
    font-size: 30px;
    font-style: italic;
    font-weight: 800;
    line-height: 30px;
    margin-left: 9px;
    margin-top: 405px;
    text-shadow: 1px 1px 3px #000;
    width: 100%;
  }

  .subtitleheader {
    font-size: 15px;
    margin-left: 59px;
    margin-top: 1px;
  }
}
