.App {
  text-align: center;
}

body {
  background-color: black;
  color: #fff;
}

header {
  display: flex;
  font-size: 30pt;
  justify-content: center;
  left: 0;
  text-align: center;
}

.sliderimg {
  height: 768px;
  object-fit: cover;
  width: 100%;
}

header h1 {
  font-family: Arial , Helvetica , sans-serif;
  font-weight: 500;
}

.solstar {
  background-image: url('https://scitechdaily.com/images/Sun-Atmosphere.gif');
  background-repeat: no-repeat;
  height: 370px;
  width: 100%;
}

.solstarbottom {
  background-image: url('https://scitechdaily.com/images/Sun-Atmosphere.gif');
  background-repeat: no-repeat;
  float: left;
  height: 370px;
  margin-left: -1420px;
  margin-top: 370px;
  transform: rotateX(180deg);
  width: 100%;
}

.list-planets {
  width: 100%;
}

.planets {
  border-bottom: 5px color red;
  width: 100%;
}

section { width: 100%;}

.planets img {
  width: 10px;
}

.holder {
  position: absolute;
  z-index: 99;
}
